$off-white-color: #eee;
$white-color: #fff;

// Colors
$light-green-color: #7ed56f;
$medium-green-color: #55c57a;
$dark-green-color: #28b485;

//  Spacing
$s-size: 1.2rem; // 12px
$m-size: 1.6rem; // 16px
$l-size: 3.2rem; // 32px
$xl-size: 4.8rem; // 48px
$xxl-size: 6.4rem; //64px

// 1em = 16px
$ipad-breakpoint: 50em; //800px
$desktop-breakpoint: 62.5em; // 1000px

// Font-sizes

$h1-font-size: 6.4rem;
$h2-font-size: 3.6rem;
$h3-font-size: 2.4rem;